<hr id="navbar-separator">    
<!-- Admin nav bar -->
<nav class="navbar navbar-light bg-light nav-pills nav-fill">
    <a href="admin/states" class="nav-link">States</a>
    <a href="admin/pathologies" class="nav-link">Pathologies</a>
    <a href="admin/regions" class="nav-link">Regions</a>
    <a href="admin/medications" class="nav-link">Medications</a>
    <a href="admin/sanitarymeasures" class="nav-link">Sanitary Measures</a>
    <a href="admin/contentionmeasures" class="nav-link">Contention Measures</a>
    <a href="admin/healthcenters" class="nav-link">Health Centers</a>
</nav>
<hr id="navbar-separator">    

<div class="row">

    <!-- Entity col -->
    <div class="col-sm pad-col">
        <!-- Entity name here-->
        <h2 class="center-text" id="entitytitle">Regions</h2>
        <hr>
        <!--Set up for loop accordingly-->
        <div class="pad-list" *ngFor="let element of elementList;">
            <div clas="row">
                <button (click)="selectElement($event)"  class="center-content btn btn-outline-dark"
                    id="{{element.name}}">
                    {{element.name}}
                </button>
            </div>
        </div>
    </div>
        
    <!--Edit column-->
    
    <div class="col-sm pad-col">
        <h2 class="center-text" id="edittitle">Edit</h2>
        <hr>
        <!-- Every attribute should follow this-->
        <div class="pad-all">
            <div class="row">
                <ng-container *ngIf="currentElement; else elseBlock1">
                    <label>{{ currentElement.name || "No name selected"}}</label>
                </ng-container>
                <ng-template #elseBlock1>No name selected</ng-template>
            </div>
            <div class="row">
                <input id="input1" placeholder="New name">
            </div>
            <div class="row">
                <ng-container *ngIf="currentElement; else elseBlock2">
                    <label>{{ currentElement.country.name || "No country selected"}}</label>
                </ng-container>
                <ng-template #elseBlock2>No country selected</ng-template>
            </div>
            <div class="row">
                <select name="countries" id="input2">
                    <optgroup label="Countries">
                        <option *ngFor="let element of countryList;" value="{{element.name}}">{{element.name}}</option>
                    </optgroup>
                </select>
            </div>
            
            <hr>

            <!-- buttons-->
            <div class="row">   
                <button (click)="updateElement($event)" class="center-content btn btn-outline-warning">
                    Update
                </button>
            <!-- Sustitute with status returned-->
            </div>
            <hr>
            <div class="row">
                <button (click)="deleteElement($event)" class="center-content btn btn btn-outline-danger">
                    Delete
                </button>
            <!-- Sustitute with status returned-->
            </div>
            <hr>
            <div class="row">
                <label>{{editResponse || "Cambios realizados se mostraran aquí"}}</label>
            </div>
        </div>

    </div>

    <!-- Create col -->
    <div class="col-sm pad-col">
        <h2 class="center-text" id="createtitle">Create</h2>
        <hr>
        <div class="pad-all">
            
            <!-- All attributes needed to create entity here-->
            <div class="row">
                <input id="get1" placeholder="Region Name">
            </div>
            <div class="row">
                <select name="country" id="get2">
                    <optgroup label="Countries">
                        <option *ngFor="let element of countryList;" value="{{element.name}}">{{element.name}}</option>
                    </optgroup>
                </select>
            </div>


            <hr>

            <!-- Create button and response -->
            <div class="row">
                <button (click)="addElement($event)" class="center-content btn btn-outline-primary">
                    Create
                </button>
            </div>
            <hr>
            <div class="row">
                <!-- Sustitute with status returned-->
                <label>{{addResponse || "Estado de creación se mostrará aquí"}}</label>
            </div>
        </div>
    </div>
</div>
