.buttonwrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
    padding: 0;
}

#anotherwrapper {
    background: #24284f;    
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
    padding: 0;
}

#countrylist {
    overflow-y: auto;
    background: linear-gradient(90deg, rgba(24,98,191,1) 0%, rgba(157,16,176,1) 52%, rgba(128,0,148,1) 100%);
    margin: 0;
    padding: 1rem;
}

#listtitle {
    text-align: center;
    color: white;
    margin: 0;
}

#divider {
    color: purple;
}