.container-fluid {
    padding-right:0;
    padding-left:0;
    margin-right:auto;
    margin-left:auto
 }


#mainimg {
    width: 48px;
    height: 48px;
    float: right;
}

#pagetitle {
    color: white;
    margin: 0;
    width: 50%;
    padding: 10px;
}

#topbanner {
    background-color: #2B2649;
}

#ac {
    float: left;
}

